<h1>Fight#index</h1>

<div>
  <%= @combats.each do |combat| %>
    <br><br>
    <strong>Name:</strong>
    <%= combat.name%>

    <div>
      <strong>Description:</strong>
      <%= combat.description %>
    </div>

    <div>
    <%= link_to 'Show', combat %>
    <%= link_to 'Destroy', combat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
    <br>

    <div>
      <p>The fighters of this combat are: </p>

        <% if combat.user_combats.length == 2 %>
          <%= combat.user_combats.first.user.pseudo %> and,<br>
          <%= combat.user_combats.last.user.pseudo %>
          <%= link_to "New Bet", new_bet_path(combat: combat)  %>
        <% else %>
          <p style="color:red;"> This fight is not completed! </p>
        <% end %>
    </div>

  <% end %>
</div>
