<h1>All the fights</h1>

<div>
  <% @combats.each do |combat| %>
    <br><br>
    <div>
      <strong>Name:</strong>
      <%= combat.name%>
    </div>

    <div>
      <strong>Description:</strong>
      <%= combat.description %>
    </div>

    <div>
    <%= link_to 'Show', combat %>
    <%= link_to 'Destroy', combat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
    <br>

    <div>
      <% if combat.user_combats.length == 2 %>
        <p> The fighters of this fight are:
          <%= combat.user_combats.first.user.pseudo %> and
          <%= combat.user_combats.last.user.pseudo %>
        </p>

      <%= link_to "New Bet", new_bet_path(combat: combat) %>
      <% else %> <br>
        <p style="color:red;"> This fight is not completed! </p>
      <% end %> <br>
    </div>

  <% end %>
</div>
