<h1>The current combat:</h1>
<p>
  <strong>Name:</strong>
  <%= @combat.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @combat.description %>
</p>

<p>
  <%= link_to "New Bet", new_bet_path(combat: @combat)  %>
</p>
<br><br>

<p> The fighters of this bet are:
  <%= @show_bet.user_combat.combat.users[0].pseudo %> and
  <%= @show_bet.user_combat.combat.users[1].pseudo %>
</p>

<p> The total credits sum beted in this fight is:
  <%= @sum_total_of_bets %> <br>
  <%#= @combat.user_combats.find(@combat.user_combats.all.ids[0]).bets.first.sum_bet %>
  You can still bet at this fight untill
  <%= 100 - @sum_total_of_bets %> credits maximum
</p>
