<h1>The current combat:</h1>
<p>
  <strong>Name:</strong>
  <%= @combat.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @combat.description %>
</p>

<p>
  <%= link_to "New Bet", new_bet_path(combat: @combat)  %>
</p>
<br><br>

<p> The number of bets at this fight are:
  <%= @bets.count %><br>
</p>

<p> The total credits sum beted in this fight is:
  <%= @x.sum %><br>
  <% if @x.sum < 95 %>
    You can make a bet untill <%= 100 - @x.sum %> credits at most.
  <% else %> Sorry The amount of bet credits is reach, you can no long bet on this fight!
  <% end %>
</p>
