
<div>
 <ul>
    <li><b> The combat id: </b><%= @show_user_combat.combat.id %></li>
    <li><b> The combat name: </b><%= @show_user_combat.combat.name %></li>
    <li><b> The combat description: </b><%= @show_user_combat.combat.description %></li>
    <li><b> The combat fighter: </b><%= @show_user_combat.user.email %></li>
    <li><b> The combat figher created at: </b><%= @show_user_combat.user.created_at %></li>
    <li><b> The combat figher updated at: </b><%= @show_user_combat.user.updated_at %></li>

  </ul>
</div>
