<h2> Adding user to combat </h2>
 
<table>
    <p> In the previews list, choose the combat that you wont to fight </p>
    <% Combat.all.each do |combat| %>
    <tr>
      <td> <%= combat.combat %> </td>
      <br>
      <td></td>
    </tr>  
  <% end %>
</table>

<%= form_with(model: @combat, url: combats_path) do |form| %>
 

  <%= form.label "Add combat" %>
  <%= form.text_field :combat %>
  <div class="actions">
    <%= form.submit %>
  </div>
    <%=link_to 'Log Out', destroy_user_session_path, method: :delete%> 

<% end %> 
 