<h2> Adding user to combat </h2>
 
<table>
    <p> In the previews list, choose the combat that you want to fight </p>
    <% Combat.all.each do |combat| %>
    <tr>
      <td> <%= combat.name %> </td>
      <br>
      <td></td>
    </tr>  
  <% end %>
</table>

<%= form_with(model: @user_combat ) do |form| %>
  
  <%= form.label "Add combat name" %>
  <%= form.text_field(:combat_name) %>
  <%= form.submit "add" %>

<% end %> 
