<h1>Bets#show</h1>
<div>
  <p>The fight name: <%= @show_bet.user_combat.combat.name %> </p>

  <p> The fighters of this bet are:
    <%= @show_bet.user_combat.combat.users[0].pseudo %> and
    <%= @show_bet.user_combat.combat.users[1].pseudo %>
  </p>

  <p> The fighter choosed is:
    <%= @show_bet.user_combat.user.pseudo %>
  </p>

  <p> The beting on:
    <%= @show_bet.user_combat.user.pseudo %> is the some of <%= @show_bet.sum_bet %> credits. 
  </p>

  <p> The bet was created at:
    <%= @show_bet.created_at %>
  </p>

  <div>
    <%= link_to 'Destroy', @show_bet, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

</div>
