<h2> The user that you want to edit is </h2>

<%= form_with model:[:admin, @editing_user] do |f| %>
  The user that you want to edit is:
  <%= f.text_field :pseudo %><br>
  and his email is:
  <%= f.text_field :email %><br>
  <%= f.hidden_field(:id, :value => params["user"]) %>
  <% if @editing_user.account_active == nil %>
    Do you want to blocklist this user?
    <%= f.select :account_active, [['Yes', true], ['No', nil]] %>
    <%= f.submit 'Update Block' %>
  <% else @editing_user.account_active == true %>
    Do you want to unblock this user?
    <%= f.select :account_active, [['Yes', nil], ['No', true]] %>
    <%= f.submit 'Update Unblock' %>
  <% end %>
<% end %>
