<h2> The user that you want to edit is </h2>
<%= @editing_user.email %>

<%= form_with model:[:admin, @editing_user] do |f| %>
  <% if @editing_user.account_active == nil %>
    Do you want to blocklist this user?
    <%= f.select :account_active, [['Block', true], ['Unblock', nil]] %>
    <%= f.submit 'Update Block' %>
  <% else @editing_user.account_active == true %>
    Do you want to unblock this user?
    <%= f.select :account_active, [['Unblock', nil], ['No', true]] %>
    <%= f.submit 'Update Unblock' %>
  <% end %>
<% end %>
